@inject IEmployeeRepository _employeeRepository
@inject IJSRuntime _JS

<div class="modal fade" id="bsModalUpdateEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Employee Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="EmployeeForUpdate" FormName="ProductUpsertForm" OnValidSubmit="UpdateEmployeeConfirm">
                    <DataAnnotationsValidator />
                    <div class="px-3">
                        <div class="py-2 col-12">
                            <label for="Code">Mã số</label>
                            <InputText @bind-Value="EmployeeForUpdate.Code" class="form-control" id="Code" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Name">Tên vị trí</label>
                            <InputText @bind-Value="EmployeeForUpdate.Name" class="form-control" id="Name" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Name">Điện thoại</label>
                            <InputText @bind-Value="EmployeeForUpdate.PhoneNumber" class="form-control" id="Name" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Name">Email</label>
                            <InputText @bind-Value="EmployeeForUpdate.Email" class="form-control" id="Name" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Name">CCCD</label>
                            <InputText @bind-Value="EmployeeForUpdate.CCCD" class="form-control" id="Name" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="Description">Mô tả</label>
                            <InputText @bind-Value="EmployeeForUpdate.Description" class="form-control" id="Description" />
                        </div>
                        <div class="py-2 col-12">
                            <label for="LocationId">Mô tả</label>
                            <InputSelect @bind-Value="EmployeeForUpdate.DepartmentId" class="form-control" id="LocationId">
                                <option value="" selected>--Chọn phòng ban--</option>
                                @foreach (var item in Departments)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="py-2 col-12">
                            <label for="LocationId">Mô tả</label>
                            <InputSelect @bind-Value="EmployeeForUpdate.ShiftId" class="form-control" id="LocationId">
                                <option value="" selected>--Chọn vị trí--</option>
                                @foreach (var item in Shifts)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="py-2 d-flex gap-3">
                            <label for="Status">Hoạt động</label>
                            <InputCheckbox @bind-Value="EmployeeForUpdate.Status" class="form-check" id="Status" />
                        </div>
                    </div>
                    <div class="modal-footer gap-2">
                        <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" OnClick="UpdateEmployeeConfirm">Create</MudButton>
                        <MudButton ButtonType="ButtonType.Button" Color="Color.Warning" Variant="Variant.Filled">Cancel</MudButton>
                    </div>
                </EditForm>
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public Employee EmployeeForUpdate { get; set; } = new Employee();
    [Parameter]
    public IEnumerable<Department> Departments { get; set; } = new List<Department>();
    [Parameter]
    public IEnumerable<Shift> Shifts { get; set; } = new List<Shift>();
    [Parameter]
    public EventCallback LoadPage { get; set; }

    public async Task UpdateEmployeeConfirm()
    {
        await _employeeRepository.UpdateAsync(EmployeeForUpdate);
        EmployeeForUpdate = new Employee();
        await _JS.InvokeVoidAsync("HideUpdateEmployeeModal");
        await _JS.ToastrSuccess("Product Updated Successfully");
        await LoadPage.InvokeAsync();
    }
}